<section>
  <div class="gridabout">
    <div><img class="gridaboutimg" src="../../../assets/images/ichHandballEnde80er_1.gif"></div>
    <div><img class="gridaboutimg" src="../../../assets/images/ichHandballEnde80er_2.gif"></div>
    <div><img class="gridaboutimg" src="../../../assets/images/ichHandballEnde80er_3.gif"></div>
    <div><img class="gridaboutimg" src="../../../assets/images/GerdMit16.gif"></div>
    <div><img class="gridaboutimg" src="../../../assets/images/FamileHutzfeldOhneVaterCa1960.gif"></div>
    <div><img class="gridaboutimg" src="../../../assets/images/passBildGerdMit6OderSo.gif"></div>
    <div><img class="gridaboutimg" src="../../../assets/images/Gerd_171003_224735.gif"></div>
  </div>
</section>
