<section>
  <!-- Section B -->
  <section id="section-b" class="grid">
    <ul>
      <li>
        <div class="card">
          <img src="https://static.pexels.com/photos/574077/pexels-photo-574077.jpeg" alt="">
          <div class="card-content">
            <h3 class="card-title">Web Development</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum culpa neque quo eum et quasi velit
              voluptatum cum maiores exercitationem.</p>
          </div>
        </div>
      </li>
      <li>
        <div class="card">
          <img src="https://static.pexels.com/photos/261628/pexels-photo-261628.jpeg" alt="">
          <div class="card-content">
            <h3 class="card-title">Mobile Applications</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum culpa neque quo eum et quasi velit
              voluptatum cum maiores exercitationem.</p>
          </div>
        </div>
      </li>
      <li>
        <div class="card">
          <img src="https://static.pexels.com/photos/265087/pexels-photo-265087.jpeg" alt="">
          <div class="card-content">
            <h3 class="card-title">Tech Marketing</h3>
            <p></p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum culpa neque quo eum et quasi velit
              voluptatum cum maiores exercitationem. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, at cum deleniti earum eius eligendi laudantium minus nulla quasi ullam.</p>
          </div>
        </div>
      </li>
    </ul>
  </section>

</section>
