<section id="wrapper" class="skewed" (mousedown)="onMouseDown($event)" (mousemove)="onMouseMove($event)" (mouseup)="onMouseUp($event)">
  <div class="layer bottom">
    <div class="content-wrap">
      <div class="content-body">
        <h1>diligent</h1>
        <p>fuel for success</p>
       </div>
      <img src="../assets/images/20170906_Gerd.gif" alt="">
    </div>
  </div>

  <div class="layer top">
    <div class="content-wrap">
      <div class="content-body">
         <h1>disruptive</h1>
        <br>
        <div>
          <img src="./assets/images/Disruption.png" alt="">
          <p>sometimes scary!</p>
        </div>

       </div>
      <img src="../assets/images/20170906_Gerd_grauSkull.gif" alt="">
    </div>
  </div>

  <div class="handle"></div>
</section>
